/* Universal Styles */
*, *::before, *::after {
  /* box-sizing: border-box; */
  outline: 0px solid red;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* UNIVERSAL STYLES TABLET */
@media only screen and (max-width: 768px) {
  .main-content {
    top: 2.5625rem;
  }
}
/* UNIVERSAL STYLES MOBILE */
@media only screen and (max-width: 480px) {
  
}

/* Header */

header {
  position: fixed;
  height: 5.25rem;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 5;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
  color: #4a4a4a;
  font-size: 1.5rem;
  font-family: Roboto, monospace, regular;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  font-family: Roboto, regular;
  line-height: 1.6;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}
header .tablet {
  display: none;
}

/* HEADER TABLET */
@media only screen and (max-width: 768px) {
  header .desktop {
    display: none;
  }
  header .tablet {
    display: block;
    max-width: 100%;
  }
  header .tablet ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%
  }
  header .tablet li {
    padding-left: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
  header .tablet a {
    font-size: 1rem;
  }
  header .logo {
    display: block;
  }
  header .tablet .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }  
}

/* HEADER MOBILE */
@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }  
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  height: 43.5rem;
  width: 100%;
  background-image: url("/resources/images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  height: 20rem;
  margin: 10.625rem 0rem 10.625rem 6.25rem;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  font-size: 3.125rem;
  padding-bottom: .75rem;
  line-height: 1.4;
}

#sign-up-cta .button {
  font-family: Roboto, medium;
  margin-top: 1.625rem;
  margin-bottom: 3.5rem;
  padding: 1.25rem 7.25rem;
}

/* SIGN UP TABLET */
@media only screen and (max-width: 768px) {
  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  #sign-up-cta {
    position: static;
    margin: 0 auto;
    margin-top: 5rem;
    width: auto;
    height: auto;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}
/* SIGN UP MOBILE */
@media only screen and (max-width: 480px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  padding-bottom: 2.875rem;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem 2rem 4.6875rem 2rem;
  margin: 0px 1.25rem;
  background-color: white;
}
 .feature .image-container { 
   width: 100%;
   height: 100%;
}
.feature .content {
  margin-top: 2.5rem;
}
.feature img {
  width: 100%;
  height: 65%;
}

.feature h2 {
  font-family: Roboto, bold;
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
  line-height: 1.2;
}

.feature h3 {
  font-size: 1rem;
  font-family: Roboto, light;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/* FEATURES TABLET */
@media only screen and (max-width: 768px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

/* FEATURES MOBILE */
@media only screen and (max-width: 480px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-family: Roboto, Bold;
  font-size: 2.25rem;
  opacity: 100%;
  font-weight: bold;
  color: white;
}
#filters-section .content h3 {
  padding-top: 0.6rem;
  font-size: 1rem;
  font-family: Roboto, Light;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  display: flex;
  padding: 0 1%;
  max-width: 100%;
}
#filters-section .image-filter {
  flex: 1;
  overflow: hidden;
}
.image-filter img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* FILTERS TABLET */
@media only screen and (max-width: 768px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}
/* FILTERS MOBILE */
@media only screen and (max-width: 480px) {
  
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  padding: 5rem 0rem 5rem 0rem;
  margin: 0 auto;
}
#quotes-section .content-center {
  text-align: center;
}

#quotes-section .quote {
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
  padding-right: 1.875rem;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

/* QUOTES TABLET */
@media only screen and (max-width: 768px) {
  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* QUOTES MOBILE */
@media only screen and (max-width: 480px) {

}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
  color: white;
  font-size: 0.75rem;
  font-family: Roboto, regular;
}

/* FOOTER TABLET */
@media only screen and (min-width: 768px) {
  footer .content {
    font-size: .625rem;
  }
}
/* FOOTER MOBILE */
@media only screen and (max-width: 480px) {
  
}